# Logs
logs
*.log
npm-debug.log*
config.ts

# Ignore output of typescript compilation. They WILL be included in the package since .npmignore is empty
index.js.map
index.d.ts

/src/**/*.js
/src/**/*.js.map
/src/**/*.d.ts

# Ignore testing code TS compilation output
/e2e/**/*.js
/e2e/**/*.js.map
/e2e/**/*.d.ts

/samples/**/*.js
/samples/**/*.js.map
/samples/**/*.d.ts

# Ignore generated typings
typings/

# Exclude root folder *.js files and except the generated index.js
!/*.js
index.js

# Exclude important config files (part of the samples)
!systemjs.config.js
!webpack.config.js

# Exclude scripts folder
!/scripts/*

# Coverage directory used by tools like istanbul
coverage

# protractor test results
_test-output/

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules
bower_components
doc/
build/

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml

## Directory-based project format:
.idea/
.vscode/
