# Logs
logs
*.log
npm-debug.log*
config.ts

# Ignore output of typescript compilation. They WILL be included in the package since .npmignore is empty
*.js
*.js.map
*.d.ts

# Ignore generated output
lib/

# Ignore generated typings 
typings/

# Exclude root folder *.js files and
!/*.js

# Exclude important config files
!systemjs.config.js
!webpack.config.js

# Exclude scripts folder
!/scripts/*

# Coverage directory used by tools like istanbul
coverage

# protractor test results
_test-output/

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules
bower_components
doc/
build/

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml

## Directory-based project format:
.idea/
.vscode/
