.image_container {
  position: relative;
  overflow: hidden;
}

.placeholder {
  position: relative;
  width: 100%;
  transform: scale(1);
}

.picture {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s linear;
}

.picture.loaded {
  opacity: 1;
}
